#AS{
    background: #06d310;
    border: 3px solid #0f0000 !important;   
}
#AS2{
    background: #b60404;
    border: 3px solid #0f0000 !important;    
}
#AS3{
    background: #97045a;
    border: 3px solid #0f0000 !important;    
}
#AS4{
    background: #080597;
    border: 3px solid #0f0000 !important;    
}
#accordion div{border-radius:30px}
#AP{
    background: #030150;
    color: #06d310;
}
#AP2{
    background: #030150;
    color: #06d310;
}
#AP3{
    background: #030150;
    color: #06d310;
}
#AP4{
    background: #030150;
    color: #06d310;
}